img {
  width: 60%;
  margin-top: 80px;
  margin-left: 60px;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  color: #fff;
  text-decoration: none;
  padding-right: 10px;
}
